##**Real World Financial Data Analysis**

In [1]:
#importing pandas
import pandas as pd

In [3]:
#read the csv file
data = pd.read_csv('/content/Ecommerce Purchases.csv')

In [5]:
data

                                                Address  ... Purchase Price
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                      Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3                 7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
...                                                 ...  ...            ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[10000 rows x 14 columns]

#Display top 10 rows

In [4]:
data.head(10)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
5  7502 Powell Mission Apt. 768\nTravisland, VA 3...  ...          25.15
6     93971 Conway Causeway\nAndersonburgh, AZ 75107  ...          88.56
7  260 Rachel Plains Suite 366\nCastroberg, WV 24...  ...          44.25
8            2129 Dylan Burg\nNew Michelle, ME 28650  ...          59.54
9    3795 Dawson Extensions\nLake Tinafort, ID 88739  ...          95.63

[10 rows x 14 columns]

#Check the last 10 rows

In [6]:
data.tail(10)

                                                Address  ... Purchase Price
9990  75731 Molly Springs\nWest Danielle, VT 96934-5102  ...          18.35
9991              PSC 8165, Box 8498\nAPO AP 60327-0346  ...          25.93
9992  885 Allen Mountains Apt. 230\nWallhaven, LA 16995  ...          67.96
9993  7555 Larson Locks Suite 229\nEllisburgh, MA 34...  ...          65.61
9994       6276 Rojas Hollow\nLake Louis, WY 56410-7837  ...          31.85
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[10 rows x 14 columns]

#Check the datatype of the column named "CC Security Code"

In [15]:
data['CC Security Code'].dtypes

dtype('int64')

#Check if any column contains null value

In [21]:
data.isnull().any()

Address             False
Lot                 False
AM or PM            False
Browser Info        False
Company             False
Credit Card         False
CC Exp Date         False
CC Security Code    False
CC Provider         False
Email               False
Job                 False
IP Address          False
Language            False
Purchase Price      False
dtype: bool

In [22]:
data.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

#Check the number of rows and column in the dataset

In [24]:
len(data)

10000

In [26]:
len(data.columns)

14

In [23]:
data.shape

(10000, 14)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

#Check the highest "Purchase Price" in the dataset

In [29]:
data['Purchase Price'].max()

99.99

#Display the lowest "Purchase Price" in data

In [31]:
data['Purchase Price'].min()

0.0

#What is the average "Purchase Price" so far

In [34]:
data['Purchase Price'].mean()

50.34730200000025

#How many customer has french as their primary languge

In [51]:
data['Language']=='fr'

0       False
1        True
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Language, Length: 10000, dtype: bool

In [57]:
data[data['Language']=='fr'].count()

Address             1097
Lot                 1097
AM or PM            1097
Browser Info        1097
Company             1097
Credit Card         1097
CC Exp Date         1097
CC Security Code    1097
CC Provider         1097
Email               1097
Job                 1097
IP Address          1097
Language            1097
Purchase Price      1097
dtype: int64

In [47]:
len(data[data['Language']=='fr'])

1097

#How many of our customer are any kind of engineer

In [55]:
data[data['Job'].str.contains('engineer',case=False)].count()

Address             984
Lot                 984
AM or PM            984
Browser Info        984
Company             984
Credit Card         984
CC Exp Date         984
CC Security Code    984
CC Provider         984
Email               984
Job                 984
IP Address          984
Language            984
Purchase Price      984
dtype: int64

In [59]:
len(data[data['Job'].str.contains('engineer',case=False)])

984

#What is the email id of the person having ip adress 24.140.33.94

In [63]:
data[data['IP Address']=='24.140.33.94']['Email']

4    christopherwright@gmail.com
Name: Email, dtype: object

#How many people have mastercard as their credit card provider and made a purchase above 50 ?

In [65]:
len(data[(data["CC Provider"]=="Mastercard") & (data["Purchase Price"]>50)])

405

#Find the email of the person with credit card number 869968197049750

In [67]:
data[data['Credit Card']==869968197049750]['Email']

9990    andersonmichael@sherman.biz
Name: Email, dtype: object

#How many people use credit card during the morning time ?

In [68]:
len(data[data["AM or PM"]=="AM"])

4932

#Number of people that are having a credit card that will expire in 2020, Also find their Email

In [70]:
data[data["CC Exp Date"].apply (lambda s: s[3:]=="20")]["Email"]

0                  pdunlap@yahoo.com
19              ruiznicole@gmail.com
32              shane21@atkinson.com
36          saundersernest@walsh.com
38        djennings@boyd-english.org
                    ...
9883              lisa25@hotmail.com
9901               james32@gmail.com
9911    hensonlindsay@graves-fox.com
9957          latashaochoa@gmail.com
9992               bberry@wright.net
Name: Email, Length: 988, dtype: object

#Show the Top 5 email providers

In [71]:
data["Email"].apply(lambda x: x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

#Print the top 5 companies having the highest purchase prices

In [72]:
data[["Company","Purchase Price"]].nlargest(5,'Purchase Price')

                        Company  Purchase Price
2092                Pitts Group           99.99
7807  Porter, Johnson and Pratt           99.99
9856              Olson-Navarro           99.97
7604          Fitzpatrick Group           99.95
3844              King and Sons           99.93